{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1>登入系統</h1>
  <div class="signin_area">
    <form action="/signin" method="post" onsubmit="agreeCheck(event)">
      <div>
        <label for="username">帳號</label>
        <input
          type="text"
          id="username"
          name="username"
          value="{{ username or '' }}"
        />
      </div>
      <div>
        <label for="password">密碼</label>
        <input
          type="password"
          id="password"
          name="password"
          value="{{ password or '' }}"
        />
      </div>
      <div>
        <label for="agree">同意條款</label>
        <input type="checkbox" id="agree" />
      </div>

      <button type="submit">登入</button>
    </form>
  </div>
</div>
<div class="container">
  <h1>計算正整數的平方</h1>
  <div class="cul_area">
    <form action="/square" method="post" onsubmit="numConfirm(event)">
      <div>
        <label for="num">正整數</label>
        <input type="text" id="num" name="num" value="{{ num or '' }}" />
      </div>

      <button type="submit">計算</button>
    </form>
  </div>
</div>
{% endblock %}
