* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft JhengHei", Arial, sans-serif;
}

ul li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    border: 1px solid black;
    background-color: rgb(14, 34, 86);
    color: white;
    margin-bottom: 10px;
  }

  main {
    padding-top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.container {
      width: 70vw;
      // position: relative;
      // z-index: 2; /* 確保內容在遮罩層上方 */
      text-align: center;
      background-color: rgba(255, 255, 255, 0.6); /* 更透明的背景 */
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px); /* 毛玻璃效果 */
      margin-top: 10px;
      margin-bottom: 10px;

      h1 {
        color: #444;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
      }

      div.signin_area,
      div.cul_area {
        font-size: 1rem;
        form {
          div {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
