$fontsize: 20px;
$text_background_color: rgba(0, 255, 175, 0.6);
$star_color: rgba(255, 179, 0, 0.8);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; //使計算寬度時考慮 padding 和 border
}

ol,
ul {
  list-style: none;
}

body {
  header {
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $fontsize;
    div.web_title {
      //   border: 2px solid blue;
      padding: 10px;
      font-weight: bolder;
    }
    nav {
      ul {
        // border: 2px solid green;
        display: flex;
        flex-direction: row;

        li {
          text-align: left;
          padding: 10px;
        }
      }
    }
  }

  header.mobile {
    // border: 2px solid red;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: $fontsize;

    div.web_title {
      //   border: 2px solid blue;
      padding: 10px;
      font-weight: bolder;
    }

    div.icon {
      position: relative;
      width: 44px;
      height: 44px;
      padding-right: 10px;
      display: flex;
      align-items: center;

      img {
        width: 34px;
        height: 34px;
        color: white;
      }
      nav.mobile {
        position: absolute;
        // background-color: pink;
        width: 250px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);

        ul {
          // border: 2px solid green;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          img {
            margin: 5px;
            position: absolute;
            width: 36px;
            height: 36px;
            right: 0;
          }

          li {
            text-align: left;
            padding: 10px;
            margin: 10px;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    div.welcome {
      //   border: 2px solid blue;
      background-color: lightblue;
      height: 250px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      div.welcome_text {
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
      }
    }

    article {
      width: 1200px;

      div.smallbox_area {
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        div.smallbox {
          height: 100%;
          width: 100%;
          display: flex;
          background-color: lightblue;
          justify-content: flex-start;
          align-items: center;
          //   margin: 10px;
          margin-left: 10px;
          margin-right: 10px;
          figure {
            height: 100%;
            height: 100%;
            width: 80px;
            // background-image: url(../img/ai_generated_img.jpeg);
            background-size: cover;
          }
          div.text {
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 100%;
            margin-left: 10px;
            font-size: $fontsize;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      div.bigbox_area {
        display: flex;
        flex-wrap: wrap;
        // flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 1200px;
        height: 420px;
        margin-bottom: 20px;

        div.bigbox1 {
          width: calc(380px); /* bigbox1 的寬度是 1200px 的 2/5 */
          box-sizing: border-box;
          height: 200px;
          margin: 10px;
          figure {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            div.star {
              height: 80%;
              width: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              span {
                padding: 10px;
                font-size: $fontsize;
                color: $star_color;
              }
            }

            div.text {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $text_background_color;
              height: 20%;
              width: 100%;
              font-size: $fontsize;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding: 10px;
              p {
                text-align: center; /* 文字居中 */
                white-space: nowrap; /* 防止換行 */
                overflow: hidden; /* 隱藏超過部分 */
                text-overflow: ellipsis; /* 顯示省略號 */
                box-sizing: border-box; /* 確保計算寬度時包括 padding 和 border */
              }
            }
          }
        }

        div.bigbox {
          width: calc(180px); /* bigbox 的寬度是 1200px 的 1/5 */
          box-sizing: border-box;
          height: 200px;
          margin: 10px;
          figure {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            // display: flex;
            // flex-direction: column;
            div.star {
              height: 80%;
              width: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-start;
              span {
                padding: 10px;
                font-size: $fontsize;
                color: $star_color;
              }
            }

            div.text {
              background-color: $text_background_color;
              height: 20%;
              width: 100%;
              min-width: 0;
              font-size: $fontsize;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              text-align: center; /* 文字居中 */
              white-space: nowrap; /* 防止換行 */
              overflow: hidden; /* 隱藏超過部分 */
              text-overflow: ellipsis; /* 顯示省略號 */
              box-sizing: border-box; /* 確保計算寬度時包括 padding 和 border */

              p {
                text-align: center; /* 文字居中 */
                white-space: nowrap; /* 防止換行 */
                overflow: hidden; /* 隱藏超過部分 */
                text-overflow: ellipsis; /* 顯示省略號 */
                box-sizing: border-box; /* 確保計算寬度時包括 padding 和 border */
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    main {
      div.welcome {
        margin-bottom: 0;
      }
      article {
        width: 90vw;

        div.smallbox_area {
          margin-top: 10px;
          margin-bottom: 10px;
          height: 140px;
          display: flex;
          flex-wrap: wrap;
          // flex-direction: column;
          align-items: center;

          div.smallbox {
            flex: 1 1 45%;
            // width: 45%;
            // gap: 10px;
            height: 50px;
            background-color: lightblue;
            justify-content: flex-start;
            align-items: center;
            //   margin: 10px;
            // margin-left: 10px;
            // margin-right: 10px;
          }
        }

        div.bigbox_area {
          width: 90vw;
          gap: 20px;
          height: auto;
          margin-bottom: 0px;
          flex-wrap: wrap; /* 讓元素換行 */
          margin: 0 auto; /* 使大區塊水平居中 */
          justify-content: center;
          margin-bottom: 50px;

          div.bigbox,
          div.bigbox1 {
            flex: none;
            margin: 0;
            width: calc(25% - 20px); /* 讓每個 box 宽度為四分之一，並考慮間距 */
            .text {
              padding: 10px;
              text-align: left;
              justify-content: flex-start;
              overflow: hidden; /* 隱藏超過部分 */
              text-overflow: ellipsis; /* 顯示省略號 */
              white-space: nowrap; /* 防止文字換行 */
            }
          }
        }
        /* 第四行特例: 調整最後一行為兩個元素 */
        .bigbox_area > .bigbox:nth-child(n + 9) {
          width: calc(50% - 16px); /* 讓第9個元素開始佔據50%的寬度 */
        }
      }
    }

    header.mobile {
      div.icon {
        nav.mobile {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    header {
      display: none;
    }
    header.mobile {
      display: flex;
    }
    main {
      article {
        div.smallbox_area {
          height: 210px;
          div.smallbox {
            flex: 1 1 100%;
            margin: 0;
          }
        }

        div.bigbox_area {
          div.bigbox1 {
            flex: 1 1 100%;
            // margin-bottom: 20px;
            figure {
              div.text {
                div {
                  max-width: 284px;
                }
              }
            }
          }
          div.bigbox {
            flex: 1 1 100%;
            // margin-bottom: 20px;
            figure {
              div.text {
                div {
                  max-width: 284px;
                }
              }
            }
          }
        }
      }
    }
  }
}
